<ion-view>
    <ion-nav-title>Stories</ion-nav-title>
    <ion-content>
        <div ng-show="!showStories" ng-cloak class="textCenter marginTop--double">
            <ion-spinner></ion-spinner>
        </div>
        <div ng-show="showStories && !isLoading" ng-cloak>
            <ion-list type="list" class="storyList">
                <ion-item ng-repeat="story in stories" href="#/app/stories/{{story.id}}">
                    <h2 class="h2 storyItem-title">{{story.title}}</h2>
                    <p>{{story.content}}</p>
                    <div class="storyList--footer">
                        <span class="primaryColor bold"><i class="icon ion-heart"></i> {{story.points}}</span>
                        <span ng-if="story.state === 5"><i class="icon ion-checkmark-circled"></i> Vote on chapter {{story.round}}</span>
                        <span ng-if="story.state === 0"><i class="icon ion-edit"></i> Write chapter {{story.round}}</span>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>